/*** The following stylesheet contents include edits to correct broken CSS and the .feature class addition. ***/

body {
  font-size: 14px;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: 0px;
  position: fixed;
  width: 100%;
}
/*** End of Nav and Body styles - Beginning of content styles ***/

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
    font-size: 1.3em;
}

.element, .feature {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/*** Using this class results in a blue background for featured items ***/

.feature {
  background-color: blue;
}
